<div class="container">
    <div class="form-container">
        <h3 class="form-containerTitle">Register</h3>
        <h5 class="form-containerSubtitle">Create a new account</h5>
        <p class="form-containerDescription">it's quick and easy</p>
        <form class="form" [formGroup]="signupForm" (ngSubmit)="submit()">
            <div class="form-group">
                <div class="form-groupFirstName">
                    <label class="form-groupLabel" for="firstName">First Name:</label>
                    <input class="form-groupInput" type="text" name="firstName" id="firstName"
                        placeholder="Enter Your First Name..." formControlName="firstName">
                    <div class="danger" *ngIf="firstName?.errors?.['required'] && ( firstName?.touched || submitted )">
                        First Name is required
                    </div>
                </div>
                <div class="form-groupLastName">
                    <label class="form-groupLabel" for="lastName">Last Name:</label>
                    <input class="form-groupInput" type="text" name="lastName" id="lastName"
                        placeholder="Enter Your Last Name..." formControlName="lastName">
                    <div class="danger" *ngIf="lastName?.errors?.['required'] && ( lastName?.touched || submitted )">
                        Last Name is required
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="form-groupLabel" for="name">Email :</label>
                <input class="form-groupInput" type="text" name="name" id="name" placeholder="Enter Your E-mail..."
                    formControlName="email">
                <div class="danger" *ngIf="email?.errors?.['email'] && ( email?.touched || submitted )">
                    Please enter a valid email address
                </div>
                <div class="danger" *ngIf="email?.errors?.['required'] && ( email?.touched  || submitted )">
                    Email address is required
                </div>
            </div>
            <div class="form-group">
                <label class="form-groupLabel" for="name">Password:</label>
                <input class="form-groupInput" type="password" name="password" id="password"
                    placeholder="Enter Your Password..." formControlName="password">
                <div class="danger" *ngIf="password?.errors?.['required'] && ( password?.touched || submitted )">
                    Password is required
                </div>
                <div class="danger" *ngIf="( password?.touched || submitted ) && password?.errors?.['invalidPassword']">
                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                    letter and 1 number
                </div>
            </div>
            <div class="form-group">
                <label class="form-groupLabel" for="name">Confirm Password:</label>
                <input class="form-groupInput" type="password" name="confirmPassword" id="confirmPassword"
                    placeholder="Confirm password..." formControlName="confirmPassword">
                <div class="danger"
                    *ngIf="confirmPassword?.errors?.['required'] && ( confirmPassword?.touched || submitted )">
                    Confirm Password is required
                </div>
                <div class="danger" *ngIf="signupForm.errors?.['passwordsDontMatch'] && confirmPassword?.touched">
                    Passwords should match
                </div>
            </div>
            <div class="button-group">
                <button type="submit" class="button-groupBtn">Login</button>
                <span>Already have an account ? <a routerLink="/login">Go to Login!</a></span>
            </div>
        </form>
    </div>
</div>