jw-modal {
  /* modals are hidden by default */
  display: none;

  .jw-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;

    .jw-modal-body {
      height: 80vh;
      position: relative;
      padding: 2rem;
      background: #fff;
      margin: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .modal-image {
      width: 20rem;
      height: 20rem;
    }
    .modal-button {
      position: absolute;
      top: -10px;
      right: -10px;
      outline: none;
      border: none;
      border-radius: 50%;
      padding: 1rem;
      font-weight: bold;
    }

    .modal-description {
      width: 50%;
      margin: 2rem auto;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
