<nav class="navbar">
  <div class="navbarContainer">
    <a class="navbarContainerLogo" routerLink="/products/list">GioSneakers</a>
    <button class="navbarContainerButton">
      <span class="navbar-button-icon">My First App</span>
    </button>
    <p class="navbarContainerName" *ngIf="user$ | async as user">
      Welcome {{ user.email }}!
    </p>
    <a class="navbarContainerOrderNow" routerLink="/order-now">Order Now</a>
    <a class="navbarContainerOrders" routerLink="/app-orders">See Orders</a>
  </div>

  <div class="navbarItems">
    <a class="navbarItem navbar-link active" routerLink="/admin">Admin</a>
    <a class="navbarItem navbar-link" routerLink="/">Products</a>
    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton"
    >
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #loginButton>
      <button routerLink="/login">Login</button>
    </ng-template>
  </div>
</nav>
