<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/products/list">GioSneakers</a>
    <button class="navbar-button">
      <span class="navbar-button-icon">My First App</span>
    </button>
    <p class="navbar-name" *ngIf="user$ | async as user">
      Welcome {{ user.email }}!
    </p>
    <a class="navbar-containerOrderNow" routerLink="/order-now">Order Now</a>
    <a class="navbar-containerOrders" routerLink="/app-orders">See Orders</a>
  </div>

  <div class="navbar-items">
    <a class="navbar-item navbar-link active" routerLink="/admin">Admin</a>
    <a class="navbar-item navbar-link" routerLink="/">Products</a>
    <ng-container
      *ngIf="authService.currentUser$ | async as user; else loginButton"
    >
      <button (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #loginButton>
      <button routerLink="/login">Login</button>
    </ng-template>
  </div>
</nav>
