<div class="container">
  <form class="form" [formGroup]="editForm">
    <div class="form-group">
      <label for="title" class="form-groupLabel">Title:</label>
      <input
        type="text"
        class="form-groupInput"
        placeholder="Enter Product Title ..."
        name="title"
        formControlName="title"
        required
      />
    </div>

    <div class="form-group">
      <label for="image" class="form-groupLabel">Image Link:</label>
      <input
        type="text"
        class="form-groupInput"
        placeholder="Enter Product Image ..."
        name="image"
        formControlName="image"
        required
      />
    </div>

    <div class="form-group">
      <textarea
        name="title"
        id="title"
        cols="30"
        rows="10"
        placeholder="Enter Product Description ..."
        name="description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="title" class="form-groupLabel">Price:</label>
      <input
        type="text"
        class="form-groupInput"
        placeholder="Enter Product Price ..."
        name="price"
        formControlName="price"
        required
      />
    </div>

    <div class="form-group">
      <label for="title" class="form-groupLabel">Quantity:</label>
      <input
        type="text"
        class="form-groupInput"
        placeholder="Enter Product Quantity ..."
        name="quantity"
        formControlName="quantity"
        required
      />
    </div>
    <div class="button-group">
      <button type="submit" (click)="onSubmit()">Update</button>
      <button type="button" (click)="goBack()">Go Back</button>
    </div>
  </form>
</div>
