<div class="container">
    <form class="form" [formGroup]="productForm" (ngSubmit)="addProduct()">
        <div class="form-group">
            <label for="title" class="form-groupLabel">Title:</label>
            <input type="text" class="form-groupInput" placeholder="Enter Product Title ..." name="productTitle" formControlName="productTitle" minlength="4" maxlength="25">
            <p class="danger" *ngIf="productTitle?.errors?.['minlength']">
                Min Length is {{productTitle?.errors?.['minlength']?.requiredLength}}
              </p>
           <p class="danger" *ngIf="productTitle?.errors?.['maxlength']">
            Max length allowed is {{productTitle?.errors?.['maxlength']?.requiredLength}} 
          </p>
            <p class="danger" *ngIf="productTitle?.errors?.['required'] && ( productTitle?.touched || submitted )">
                Product Name is required
            </p>
            
        </div>

        <div class="form-group">
            <label for="title" class="form-groupLabel">Image Link:</label>
            <input type="text" class="form-groupInput" placeholder="Enter Product Image ..." name="productImage" formControlName="productImage">
            <p class="danger" *ngIf="productImage?.errors?.['required'] && ( productImage?.touched || submitted )">
                Image is required !
            </p>
        </div>

        <div class="form-group">
            <textarea name="title" id="title" cols="30" rows="10" placeholder="Enter Product Description ..." name="productDescription" formControlName="productDescription"></textarea>
            <p class="danger" *ngIf="productDescription?.errors?.['minlength'] && (productDescription?.touched || submitted)">
                Min Length is {{productDescription?.errors?.['minlength']?.requiredLength}}
              </p>
           <p class="danger" *ngIf="productDescription?.errors?.['maxlength'] && ( productDescription?.touched || submitted )">
            Max length allowed is {{productDescription?.errors?.['maxlength']?.requiredLength}} 
          </p>
        </div>

        <div class="form-group">
            <label for="title" class="form-groupLabel" >Price:</label>
            <input type="text" class="form-groupInput" placeholder="Enter Product Price ..." name="productPrice" formControlName="productPrice">
            <p class="danger" *ngIf="productPrice?.errors?.['required'] && ( productPrice?.touched || submitted )">
                Price is required !
            </p>
        </div>

        <div class="form-group">
            <label for="title" class="form-groupLabel">Quantity:</label>
            <input type="text" class="form-groupInput" placeholder="Enter Product Quantity ..." name="productQuantity" formControlName="productQuantity">
            <p class="danger" *ngIf="productQuantity?.errors?.['required'] && ( productQuantity?.touched || submitted )">
                Quantity is required !
            </p>
        </div>
        <button type="submit" [hidden]="!productForm.valid">Add Product</button>
    </form>
</div>