<div class="container">
  <div class="input-container">
    <label class="input-containerLabel" for="product">Search Product:</label>
    <input class="input-containerInput" type="text" name="product" [(ngModel)]="search"/>
  </div>
  <div class="products">

  <jw-modal id="custom-modal-2">
      <h1>{{bodyTitle}}</h1>
      <h3>{{bodyPrice}}</h3>
      <img class="modal-image" src={{bodyImage}} alt={{bodyTitle}}>
      <p class="modal-description">{{bodyDescription}}</p>
      <button class="modal-button" (click)="closeModal('custom-modal-2');">X</button>
  </jw-modal>
  
    <div class="product" *ngFor="let product of products | filter: search ">
      <div class="image-wrapper" (click)="openModal('custom-modal-2',product)">
        <a class="image-wrapper-link">
          <img
            class="product-image"
            src="{{ product.image }}"
            alt="{{ product.title }}"
          />
          <span class="product-overlay"></span>
        </a>
      </div>
      <div class="product-container">
        <a class="product-name">{{ product.title }}</a>
        <p class="product-price">{{ product.price }},00 RSD</p>
      </div>
    </div>
  </div>
</div>
