<div class="orders">
    <div class="order">
        <div class="order-Info">
            <h2 class="order-Name">Order Name</h2>
            <h3 class="order-Brand">Order Brand</h3>
            <p class="order-Color">order COlor</p>
            <p class="order-Size">order Size</p>
        </div>
        <div class="order-Customer">
            <h2 class="order-CustomerName"> cusotmer Name</h2>
            <h2 class="order-CustomerLastName">customer Last Name</h2>
        </div>
        
    </div>
</div>