<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of simpleForm">
      <label>{{ control.label }}</label>
      <div [ngSwitch]="control.type">
        <input *ngSwitchCase="'input'" [type]="control.type ? control.type : 'text' " [formControlName]="control.name"/>
        <input *ngSwitchCase=" 'radio' " [type]="control.type" [id]="control.name"  [value]="control.value">

        <!-- <input *ngSwitch="'radio'" [type]="control.type" [value]="control.value" [formControlName]="control.name"/> -->
        <!-- <div [ngSwitchCase]="'radio'">
            <input [formControlName]="control.name" [type]="control.type" [name]="control.name"
              [value]="control.value">
            <label [for]="control.name"> {{control.name}}</label>
        </div> -->
        <div *ngSwitch="'textarea'">
          <textarea  cols="3" rows="4" [formControlName]="control.name">{{control.placeholder}}</textarea>

        </div>
      </div>
      <!-- <input type="radio" id="html" name="fav_language" value="HTML">
        <label for="html">HTML</label><br> -->
    </div>
    <button type="submit">Submit</button>
  </form>